include README.rst CHANGES COPYRIGHT LICENSE
recursive-include paperclip/templates *.html
recursive-include paperclip/static *.png
recursive-include paperclip/static *.svg
recursive-include paperclip/static *.js
